@media (max-width: 1024px) {

    .top-banner {
        height: 350px;
        font-size: 7px;
    }

    .input-group {
        max-width: 300px !important;
        float: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {

    h2 {
        font-size: 40px;
    }

    p {
        text-align: center;
    }

    .top-banner {
        width: 100%;
        height: 320px;
        text-align: center;
        background-size: cover;
    }

    .top-banner .title {
        display: none;
    }

    .top-banner .main-title {
        margin-bottom: 0;
    }

    .form {
        padding-bottom: 50px;
    }

    .bottom-con {
        padding-top: 20px;
    }

    .filter-list ul {
        font-size: 16px;
    }

    .navbar-inverse .navbar-collapse {
        border-color: transparent;
        -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.9);
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.9);
    }
}

@media (max-width: 575px) {

    .top-banner {
        width: 100%;
        height: 220px;
        text-align: center;
        z-index: 100;
    }

    .top-banner .main-title {
        text-align: center;
    }

    .form {
        padding-bottom: 50px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .tooltip {
        width: 250px;
    }
}

