:root {
    --color1: #65C685;
    --color2: #2C8949;
    --color3: #80C2AF;
    --color4: #7F9096;
    --color5: #22242B;
    --color6: #2c3e50;
    --color7: #e67e22;
    --color9: #fff;
}

body {
    background: var(--color6);
}

.g-recaptcha > div {
    margin: auto;
}

.text-orange {
    color: var(--color7);
}

.section {
    background-color: var(--color2);
    color: var(--color5);
    padding: 70px 0;
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.9);
    z-index: 1000;
}

.section:not(footer) p a:hover  {
    color: rgba(230, 126, 34, 0.8);
}

.dark-theme {
    background-color: var(--color6);
    color: var(--color4);
}

.main-title {
    font-size: 3.8em;
    text-transform: uppercase;
    text-align: left;
    color: var(--color9);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1em;
}

.main-title-left {
    text-align: right;
    color: var(--color7);
}

.top-banner .title {
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid var(--color9);
    font-size: 2.3em;
    text-align: center;
    color: var(--color9);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: var(--color9);
}

h3 {
    font-size: 20px;
    text-align: center;
    color: var(--color9);
}

p {
    font-size: 18px;
    color: var(--color9);
    font-weight: 400;
}

.fa a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.head-border-white {
    width: 20%;
    height: 0;
    background: var(--color9);
}

.head-border-grey {
    width: 20%;
    height: 1px;
    background: #443e44;
}

.head {
    margin-bottom: 60px;
}

.center {
    text-align: center;
}

#menu {
    z-index: 11000;
}

#menu li a.active {
    background-color: var(--color7);
}

.main-menu {
    background-color: #27ad60;
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.9);
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.top-banner {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

.top-bg {
    background: url("../img/bg-11.jpg") 0 60% no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.filter-list ul {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.filter-list ul li {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.description {
    padding-top: 10px;
}

.description ul {
    text-align: left;
    color: var(--color9);
    font-size: inherit;
    list-style: none;
}

.description ul li:before {
    color: var(--color7);
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.nav-pills .nav-link.active {
    background-color: var(--color7);
}

.image img {
    max-width: 80%;
    height: auto;
    max-height: 400px;
}

.bottom-con {
    padding-bottom: 20px;
}

.up-section {
    background-color: var(--color6);
    z-index: 1100;
}

.up-section.dark-theme {
    background-color: var(--color2);
}

.up {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -85px;
    left: 50%;
    margin-left: -50px;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    z-index: 1000;
    background: var(--color2);
}

.dark-theme .up {
    background: var(--color6);
}

.up i {
    position: absolute;
    left: 18px;
    top: 20px;
}
.submit .btn, .submit .btn:focus, .submit .btn:active {
    background: var(--color7);
    border-color: var(--color7);
    margin-bottom: 15px;
}

.up:hover {
    top: -50px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 1000;
}

.up span {
    font-size: 40px;
    margin-top: 45px;
    margin-left: 32px;
    color: #c1c1c1;
}

.up span:hover {
    color: var(--color7);
}

#top-bt {
    visibility: hidden;
}

.button-top {
    position: fixed;
    top: 220px;
    right: -3px;
    width: 45px;
    height: 50px;
    background-color: var(--color7);
    border: 1px solid var(--color7);
    z-index: 3000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.button-top i {
    position: absolute;
    left: 8px;
    top: 12px;
    color: var(--color9);
}

.required {
    color: var(--color7);
}

footer p {
    text-align: center;
}

a {
    color: var(--color9);
}

a:hover, .section:not(footer) p a {
    color: var(--color7);
    text-decoration: none;
}

.question {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    color: var(--color5);
}

.answer {
    padding: 10px 15px;
    margin-bottom: 10px;
    color: var(--color9);
    background-color: rgba(255, 255, 255, 0.05);
}

.tooltip {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: var(--color2);
    width: 300px;
    min-height: 50px;
    z-index: 3010;
    opacity: 1;
    padding: 20px;
    -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.9);
    display: none;
    color: var(--color9);
}

.tooltip.error {
    background-color: var(--color7);
}

.navbar-nav {
    margin-top: 10px;
}

.navbar-nav .nav-link {
    padding-left: 10px;
}

.img-wrap {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 5%;
    border: 1px solid transparent;
    overflow: hidden;
    margin: auto;
    display: none;
}

.img-wrap img {
    height: auto;
    width: 100%;
}